body{
    background-color: rgb(46, 204, 113);
}

@font-face
{
    font-family: cursive;
    src: url(digital.ttf);
}
#clock
{
    font-size: 200px;
    font-family: cursive;
    width: 900px;
    margin: 300px;
    text-align: center;
}